
<%= form_for user,  url: action, method: method do |f| %>
  <h3>How do you describe yourself</h3>
  <h4>How Clean are you in the</h4>
  <%= f.fields_for :cleanliness do |cleanliness_form| %>
    
    <!-- dropdown -->
   <%= cleanliness_form.label :kitchen %>
   <%= render "dropdown", method: :kitchen, object: user.cleanliness, f: cleanliness_form %>

    <!-- dropdown -->
    <%= cleanliness_form.label :bathroom %>
    <%= render "dropdown", method: :bathroom, object: user.cleanliness, f: cleanliness_form %>

    <!-- dropdown -->
    <%= cleanliness_form.label :common_space %>
    <%= render "dropdown", method: :common_space, object: user.cleanliness, f: cleanliness_form %>
  <% end %><br>

  <h3>How do you want someone else to answer</h3>
  <h4>and how important is their response to you</h4>
  
  <%= f.fields_for :desired_cleanliness do |desired_cleanliness_form| %>
    
    <!-- dropdown -->
    <%= desired_cleanliness_form.label :kitchen %>
    <%= render "dropdown", method: :kitchen, object: user.desired_cleanliness, f: desired_cleanliness_form %>
    <!-- radio buttons -->
    <%= render "importance", user: user, method: :kitchen_importance, f: desired_cleanliness_form %>

    <!-- dropdown -->
    <%= desired_cleanliness_form.label :bathroom %>
    <%= render "dropdown", method: :bathroom, object: user.desired_cleanliness, f: desired_cleanliness_form %>
    <!-- radio buttons -->
    <%= render "importance", user: user, method: :bathroom_importance, f: desired_cleanliness_form %>
    
    <!-- dropdown -->
    <%= desired_cleanliness_form.label :common_space %>
    <%= render "dropdown", method: :common_space, object: user.desired_cleanliness, f: desired_cleanliness_form %>
    <!-- radio buttons -->
    <%= render "importance", user: user, method: :common_space_importance, f: desired_cleanliness_form %>
  <% end %><br>
  <%= f.submit "All Set"%>
<% end %>

