<h1>Sign Up</h1>

<%= form_for @user do |f| %>
  <%= f.label :username %><br>
  <%= f.text_field :username %><br>
  <%= f.label :email %><br>
  <%= f.text_field :email %><br>
  <%= f.label :password %><br>
  <%= f.password_field :password %><br>
  <%= f.label :password_confirmation %><br>
  <%= f.password_field :password_confirmation %><br>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br><br>
  <%= f.label :age %>
  <%= f.date_select :age, {order: [:month, :day, :year], prompt: { day: 'Select day', month: 'Select month', year: 'Select year' }, start_year: Date.today.year - 18, end_year: Date.today.year - 100}, {required: true} %><br>
  
  <%= f.label :gender %>
  <%= f.select :gender, ['M', 'F', "Other"]%><br>
 
  <%= f.submit %>
<% end %>
