<div class="container">
  <div class="col-sm-8 col-sm-offset-1">
    <div class="row">
      <div class="col-sm-6">
        <h1><%= @name %></h1>
        <p><em><%= @has_apartment ? "Has an apartment" : "Looking for an apartment" %></em></p>
      </div>
      <div class="col-sm-6">
        <p><strong>Age:</strong> <%= @age %></p>
        <p><strong>Gender:</strong> <%= @gender %></p>
        <p><small><%= link_to "Edit Your User Info", edit_user_path(@user) %></small></p>
      </div>
    </div>
    <div class="row">
      <h4>Your profile is <%= @profile_percent_complete %>% complete</h4>
    </div>
    <div class="row">
      <% if @user.notify_me_whos_interested.any? %>
        <h2>You have new potential roommates!</h2>
      <%end %>
      <%@user.notify_me_whos_interested.each do |match|%>
        <%= match.name %> <br>
        <p> Send an email :<strong><%=match.email %></strong> </p>
      <% end %>
    </div>
    <div class="row">
      <div class="col-sm-12 ">
        <ul class="nav nav-tabs">
          <li><%= link_to "Basic Information", edit_user_desired_match_trait_path(@user, @user.desired_match_trait) %></li>
          <li><%= link_to "Schedule", edit_user_schedule_path(@user, @user.schedule)%></li>
          <li><%= link_to "Cleanliness", edit_user_cleanliness_path(@user, @user.cleanliness)%></li>
          <li><%= link_to "Habits", edit_user_habit_path(@user, @user.habit)%></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <p><strong>Max Rent: </strong>
      <%=@max_rent%> </p>

      <p><strong>DealBreakers</strong></p>
      <p><%= @dealbreakers %></p>
    </div>
    <div class="row">
      <br><br>
      <h4>If you are happy with the information you have provided, continue to see roommates we think could be a good match for you </h4>
      <%= link_to "Show me my matches", user_matches_path(@user), class: "btn btn-lg btn-success", role: "button" %>
    </div>
  </div>
  <div class="col-sm-3 sidebar">
    <h3>You're looking for someone:</h3>
    <p><%= "in #{@city}" %></p>
    <p><%= @desired_age %></p>
    <p><%= @desired_gender %></p>
  </div>
</div>
