<h1><%= @user.name %></h1>
<p>Age: <%= @user.age %></p>

<!-- Cleanliness -->
<% if !@user.cleanliness %>
  <%= link_to "Enter your Cleanliness Information",new_user_cleanliness_path(@user)%> <br>
<% else %>
  <%= link_to "Edit Cleanliness Information",edit_user_cleanliness_path(@user, @user.cleanliness)%> <br>
<% end %>


<!-- Habit -->
<% if !@user.habit %>
  <%= link_to "Enter your Habit Information",new_user_habit_path(@user)%> <br>
<% else %>
  <%= link_to "Edit Habit Information",edit_user_habit_path(@user, @user.habit)%> <br>
<% end %>


<!-- Schedule -->
<% if !@user.schedule %>
  <%= link_to "Enter your Schedule Information",new_user_schedule_path(@user)%> <br>
<% else %>
  <%= link_to "Edit Schedule Information",edit_user_schedule_path(@user, @user.schedule)%> <br>
<% end %>


<h4>Your profile is <%= @user.profile_percent_complete %>% complete</h4>



<br><br>
<h4>If you are happy with the information you have provided, continue to see roommates we think could be a good match for you </h4>
<%= link_to "Show me my matches", user_path(@user)%>
