<div class="container body">
  <h2 class="page-header">Mutual Matches</h2>
  <div class="container" id="mutual-matches-outer">
    <div class="well" id="mutual-matches">
      <div class="row">
          <% @matches.pop(5).each do |match| %>
          <div class="col-lg-1 text-center">
            <%= link_to user_match_path(@user, match) do %>
              <%= image_tag match.photo.url(:small), class: "img-circle img-responsive img-center" %>
            <% end %>
              <h5><%= link_to match.display_name, user_match_path(@user, match) %>
                  <small><%= @user.compatibility_with(match) %>% match</small>
              </h5>
              <p><%= match.convert_age %>, <%= match.gender %></p>
              <p>Max Rent: $<%= match.max_rent %></p>
          </div>
          <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Your Matches</h2>
    </div>
    <% @matches.each do |match| %>
    <div class="col-lg-4 col-sm-6 text-center">
      <%= link_to user_match_path(@user, match) do %>
        <%= image_tag match.photo.url(:small), class: "img-circle img-responsive img-center" %>
      <% end %>
        <h3><%= link_to match.display_name, user_match_path(@user, match) %>
            <small><%= @user.compatibility_with(match) %>% match</small>
        </h3>
        <p>Age: <%= match.convert_age %></p>
        <p>Gender: <%= match.gender %></p>
        <p>Max Rent: $<%= match.max_rent %></p>
    </div>
    <% end %>
  </div> <!-- Your Matches row -->
</div>
