<div class="container body">
  <div class="row">
    <div class="col-sm-3">

      <h2><%= @match.display_name %></h2>
      <h4><%= @match.username %></h4>
      <%= image_tag(@match.photo.url(:small)) %>
      <p> <%= @match.dealbreakers %> </p>

    </div>

    <div class="col-md-9" id="overall-match-compatibility">
    <h3>You and <%=@match.display_name%> are <%=@total_compatibility%>% compatible overall! </h3>
    <% if @user_to_match_conn %>
      <% if @user_to_match_conn.interested && @match_to_user_conn.interested %>
        <h4>You and <%=@match.display_name%> have selected each other as good potential roommates!</h4>
      <% elsif @user_to_match_conn.interested %>
        <h4>You've selected <%=@match.display_name%> as a good potential roommate.</h4>
      <% elsif @match_to_user_conn.interested %>
        <h4><%=@match.display_name%> has selected you as a good potential roommate.</h4>
        <h4>Do you think you would be a good match?</h4><br>
        <table>
          <td>
            <%= form_for @user_to_match_conn, url: user_match_path(@user, @match), method: 'PATCH' do |f| %>
              <%= f.hidden_field :interested, value: false %>
              <%= f.submit "No Thanks", class: "btn btn-lg btn-info deny-interested" %>
            <% end %>
          </td>
          <td>
            <%= form_for @user_to_match_conn, url: user_match_path(@user, @match), method: 'PATCH' do |f| %>
              <%= f.hidden_field :interested, value: true %>
              <%= f.submit "I'm Interested", class: "btn btn-lg btn-success confirm-interested" %>
            <% end %>
          </td>
        </table>
      <% else %>
        <h4>Do you think they would be a good roommate?</h4>

       <%=form_for @user.match_connection_object_for(@match), url: user_match_path(@user, @match), method: 'PATCH', class: "confirm-interested" do |f| %>
     <%= f.hidden_field :interested, value: true %>
     <%= f.submit "Let Them Know!", class: "btn btn-lg btn-success", role: "button" %>
<% end %>

      <% end %>
    <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="category-compatibility" id="cleanliness">
      <div class="centerBlock">
        <%= image_tag 'cleanliness.svg', class: "icon" %><br>
      </div>
      <h2>Cleanliness</h2>
      <h4><%=@cleanliness_compatibility%></h4>
      <%@match_cleanliness.each do |key, value| %>
        <%key = key.split('_').join(" ")%>
        <p> <%=key.capitalize%>: <%=value%></p>
      <% end %>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="category-compatibility" id="schedule">
      <div class="centerBlock">
        <%= image_tag 'schedule.svg', class: "icon" %><br>
      </div>
      <h2>Schedule</h2>
      <h4><%=@schedule_compatibility%></h4>
      <% @match_schedule.each do |key, value| %>
         <p> <%=key.capitalize%>: <%=value%></p>
      <% end %>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="category-compatibility" id="habits">
      <div class="centerBlock">
        <%= image_tag 'habit.svg', class: "icon" %><br>
      </div>
      <h2>Habits</h2>
      <h4><%=@habit_compatibility%></h4>
      <% @match_habit.each do |key, value| %>
        <%key = key.split('_').join(" ")%>
        <p> <%=key.capitalize%>: <%=value%></p>
      <% end %>
      </div>
    </div>
  </div>
</div>
