<h1><%= @match.username %></h1>
<h2><%= @match.display_name %></h2>
<h3>You and <%=@match.display_name%> are <%=@total_compatibility%>% compatible! </h3>
<%= image_tag(@match.photo.url(:small)) %>
<p> <%= @match.gender %> </p>
<p> <%= @match.dealbreakers %> </p>



<div class = "category" id="cleanliness">
<h2>Cleanliness</h2>
<h3>You are <%=@habit_compatibility%>% compatible!</h3>
<%@match_cleanliness.each do |key, value| %>
  <%key = key.split('_').join(" ")%>
  <p> <%=key.capitalize%>: <%=value%></p>
<% end %>
</div><br>

<div class = "category" id="schedule">
<h2>Schedule</h2>
<h3>You are <%=@schedule_compatibility%>% compatible!</h3>
<% @match_schedule.each do |key, value| %>
   <p> <%=key.capitalize%>: <%=value%></p>
<% end %>
</div><br>

<div class = "category" id="habits">
<h2>Habits</h2>
<h3>You are <%=@habit_compatibility%>% compatible!</h3>
<% @match_habit.each do |key, value| %>
    <%key = key.split('_').join(" ")%>
    <p> <%=key.capitalize%>: <%=value%></p>
<% end %>
</div><br><br>

<div>
<% connection = @user.match_connection_object_for(@match) %>
<% if connection %>
  <% if connection.interested %>
    <h4>You've selected <%=@match.display_name%> as a good potential roommate.</h4>
  <% else %>
    <h4>Do you think <%= @match.username %> would be a good roommate?</h4>
    <%=form_for @user, url: user_match_path(@user, @match), method: 'PATCH' do |f| %>
      <%= f.submit "Let Them Know!", class: "btn btn-lg btn-success", role: "button" %>
    <% end %>
  <% end %>
<% end %>
</div><br>
