<h1><%= @match.username %></h1>
<h2><%= @match.display_name %></h2>
<p> <%= @match.gender %> </p>
<P> <%= @match.dealbreakers %> </p>

<div class = "category" id="cleanliness">
<h2>Cleanliness</h2>
<p>Bathroom: <%= @bathroom %> </p>
<p>Kitchen: <%= @kitchen %> </p>
<p>Common Space: <%= @common_space %> </p>
</div><br>

<div class = "category" id="schedule">
<h2>Schedule</h2>
<p>Work: <%= @work %> </p>
<p>Sleep: <%= @sleep %> </p>
<p>Bathroom: <%= @bathroom_sch %> </p>
<p>Kitchen: <%= @kitchen %> </p>
</div><br>

<div class = "category" id="habits">
<h2>Habits</h2>
<p>Drinking: <%= @drinking %> </p>
<p>Four-Twenty: <%= @four_twenty %> </p>
<p>Overnight Visitors: <%= @overnight %> </p>
<p>Partying: <%= @partying %> </p>
<p>Music: <%= @music %> </p>
</div><br><br>

<div>
<% connection = @user.match_connection_object_for(@match) %>
<% if connection %>
  <% if connection.interested %>
    <h4>You've selected <%=@match.display_name%> as a good potential roommate.</h4>
  <% else %>
    <h4>Do you think <%= @match.username %> would be a good roommate?</h4>
    <%=form_for @user, url: user_match_path(@user, @match), method: 'PATCH' do |f| %>
      <%= f.submit "Let Them Know!", class: "btn btn-lg btn-success", role: "button" %>
    <% end %>
  <% end %>
<% end %>
</div><br>
