<h1><%=@match.username%></h1>
<h2><%= @match.name %></h2>
<p> <%= @match.gender %> </p>
<P> <%= @match.dealbreakers %> </p>


<%=form_for @user do |f| %>
  <%= f.fields_for :match_connections do |match_connection| %>
     <%= match_connection.check_box :interested %>
     <% end %>
  <%= f.submit %>
<% end %>