<div id="basic-info">
  <%= form_for user, url: action, method: method do |f| %>
    <div class="question-div" id="has-apartment">
      <%= f.label :has_apartment, "Do you have an apartment?" %><br>
      <%= f.radio_button :has_apartment, true %> Yes
      <%= f.radio_button :has_apartment, false %> No <br>
      <!-- put a field here that will show the rent in your current apt. if you have one -->
      <center><button role="button" class="btn btn-md btn-primary" id="submit-has-apartment">Continue</button></center>
    </div>
    <div class="question-div" id="max-rent">
      <%= f.label :max_rent, "Or, what's the maximum rent you're willing to pay?" %>
      <%= f.text_field :max_rent %> <p>(We'll still show you places up to $50 over)</p><br>
      <center><button role="button" class="btn btn-md btn-info" id="back-max-rent">Back</button>
      <button role="button" class="btn btn-md btn-primary" id="submit-max-rent">Continue</button></center>
    </div>
    <div class="question-div" id="dealbreakers">
      <%= f.label :dealbreakers, "What are your dealbreakers?" %><br>
      <%= f.text_area :dealbreakers, placeholder:  "e.g. no Bon Jovi lovers, no dragon tattoos", class: "form-control" %><br>
      <center><button role="button" class="btn btn-md btn-info" id="back-dealbreakers">Back</button>
      <button role="button" class="btn btn-md btn-primary" id="submit-dealbreakers">Continue</button></center>
    </div>
    <%= f.fields_for :desired_match_trait do |trait| %>
    <div class="question-div" id="city-and-move-in">
        <label>Where and when do you want to move?</label><br>
        <%= trait.text_field :city, placeholder: "City" %><br>
        
         <%= trait.select :move_in_date, ['As soon as possible', 'Within the Month', "Within Two Months", "Within Three Months", "Within Six Months", "Not Actively Seeking Roommate"]%><br>
        <center><button role="button" class="btn btn-md btn-info" id="back-city-and-move-in">Back</button>
        <button role="button" class="btn btn-md btn-primary" id="submit-city-and-move-in">Continue</button></center>
    </div>
    <div class="question-div" id="preferred-gender">
      <%= trait.label :gender, "Do you have a gender preference?" %>
      <%= trait.select :gender, ['Male', 'Female', "Other", "Any"]%><br>
      <center><button role="button" class="btn btn-md btn-info" id="back-preferred-gender">Back</button>
      <button role="button" class="btn btn-md btn-primary" id="submit-preferred-gender">Continue</button></center>
    </div>
    <div class="question-div" id="preferred-age">
      <!-- dropdown -->
      <%= trait.label :min_age %>
      <%= trait.select :min_age, 18..99 %>

      <%= trait.label :max_age %>
      <%= trait.select :max_age, 18..99 %><br>
      <center><button role="button" class="btn btn-md btn-info" id="back-preferred-age">Back</button>
      <button role="button" class="btn btn-md btn-primary" id="submit-preferred-age">Continue</button></center>
    </div>
    <% end %>
    <div class="question-div" id="submit-basic-info">
      <center><%= f.submit "All Set", class: "btn btn-lg btn-success" %></center>
    </div>
  <% end %>
</div>
