# == Schema Information
#
# Table name: desired_match_traits
#
#  id           :integer          not null, primary key
#  gender       :string
#  move_in_date :datetime
#  min_age      :integer
#  max_age      :integer
#  city         :string
#  created_at   :datetime         not null
#  updated_at   :datetime         not null
#  user_id      :integer
#

<%= form_for @user,  url: action, method: method do |f| %>
  <h3>How do you describe your ideal match</h3>
  <%= f.fields_for :desired_match_trait do |trait| %>
    

   <%= trait.label :gender, "Desired Gender" %>
    <%= trait.select :gender, ['M', 'F', "Other"]%><br>

  
    <%= trait.label :move_in_date %>
    <%= f.date_select :move_in_date, {order: [:month, :day, :year], prompt: { day: 'Select day', month: 'Select month', year: 'Select year' }, start_year: Date.today.year - 18, end_year: Date.today.year - 100}, {required: true} %><br>

    <!-- dropdown -->
    <%= trait.label :min_age %>
    <%= trait.select :min_age, 0..99 %><br>
    
    <%= trait.label :max_age %>
    <%= trait.select :max_age, 0..99 %><br>

    <%= trait.label :city %>
    <%= trait.text_field :city %>
    <% end %>
  <%= f.submit %>
<% end %>

