<div id="sidebar">
  <h3>You're looking for someone:</h3>
  <p><%= "in #{@desired_match_trait.city}" %></p>
  <p><%= @desired_match_trait.print_desired_age %></p>
  <p><%= @desired_match_trait.print_desired_gender %></p>

  <div>
      <% if @interested_matches%>
        <h3>Roominaters who are interested in you:</h3>
        <% @interested_matches.each do |match|%>
          <%= image_tag(match.photo.url(:thumbnail)) %>
          <%= link_to "#{match.display_name}", user_match_path(@user, match)%>
          <p> Send them an email: <strong><%=match.email %></strong> </p>
        <% end %>
      <% end %>
    </div>
</div>
