<div class="row">
  <div class="col-sm-6">
    <h1><%= user.display_name %></h1>
    <p><em><%= user.has_apartment ? "Has an apartment" : "Looking for an apartment" %></em></p>
  </div>
  <div class="col-sm-6">
    <p><strong>Age:</strong> <%= user.convert_age %></p>
    <p><strong>Gender:</strong> <%= user.gender %></p>
    <p><small><%= link_to "Edit Your User Info", edit_user_path(user) %></small></p>
  </div>
</div>
<div class="row">
  <h4>Your profile is <%= user.profile_percent_complete %>% complete</h4>
</div>
