<div class="row">
  <div class="col-md-4">
    <%= image_tag(user.photo.url(:small)) %><br>
    <em><%= link_to "edit your picture", "#edit-photo-modal",  {id: "edit-photo", "data-toggle": "modal", "data-target":"#edit-photo-modal"}%></em>
  </div>
  <div class="col-md-4">
    <h1><%= link_to user.display_name, user_path(user) %></h1>
    <p><em><%=user.desired_match_trait.print_move_in_date%></em></p>
  </div>
  <div class="col-md-4">
    <p><strong>Age:</strong> <%= user.convert_age %></p>
    <p><strong>Gender:</strong> <%= user.gender %></p>
    <p><strong>Max Rent: </strong> <%=@user.max_rent%> </p>
    <p><strong>DealBreakers</strong></p><p><%= @user.dealbreakers %></p>
    <p><small><%= link_to "Edit Your User Info", edit_user_path(user), id: "edit-user"%></small></p>
  </div>
</div>
<div class="row">
  <h4 class="text-center">Your profile is <%= user.profile_percent_complete %>% complete</h4>
</div>
