<!DOCTYPE html>
<html>
<head>
  <title>Roominate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body "data-no-turbolink">

  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Roominate", root_path, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <% if current_user %>
          <li><%= link_to "Profile", user_path(current_user) %></li>
          <!--  -->
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <p class="navbar-text">Hey there, <%= current_user.name %></p>
          <li><%= link_to "Logout", logout_path %></li>
        <% else %>
          <li><%= link_to "Sign Up", signup_path %></li>
          <li><%= link_to "Log In", login_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <!-- form to show flash.now messages -->
  <% if flash.present? %>
    <% flash.each do |type, message| %>
      <% if message.kind_of?(Array) %>
        <% message.uniq.each do |msg| %>
          <div class="alert alert-<%= type == 'error' ? 'danger' : 'success' %> alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%= msg %>
          </div>
        <% end %>
      <% else %>
        <div class="alert alert-<%= type == 'alert' ? 'danger' : 'success' %> alert-dismissable" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= message %>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <%= yield %>

</div>

</body>
</html>
